.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(48, 131, 255);
  color: white;
  text-decoration: none;
}
nav > h3 {
  cursor: pointer;
}
/* li {
  list-style-type: none;
} */

.nav-link{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  cursor: pointer;
}